/*--reset.css--*/
*{margin: 0;padding: 0;box-sizing: border-box;}
.clear{clear: both;font-size: 1px;line-height: 1px;display: block;height: 0;}


/*--- body cnt start here--*/

.wrapper{width: 100%;margin: 0 auto;font-family: arial;}

.Slide{width: 50%;margin: 0 auto;/* padding: 30px 0px 0px 0; */}
.slide1 h2{font-size: 25px;line-height: 33px;text-align: center;padding: 30px 0;}

.faq{font-family: arial;border: 1px solid #fff;}
.faq h2{font-size: 14px;line-height: 22px;color: #ffffff;padding: 11px;background-color: #1d7ebf;position: relative;cursor: pointer;text-align: left;}


.faq_cnt{display: none;}
.faq_cnt p{padding: 20px 10px;margin: 0px;color: #000;
line-height: 21px;font-size: 13px;background: #f0eeee;}

.faq h2:after{content:"\f067";position: absolute;right: 5px;top:50%;transform: translateY(-50%);font-family:'FontAwesome';color: #fff;font-size: 10px;}

.faq.active h2:after{content:"\f068";position: absolute;right: 5px;top:50%;transform: translateY(-50%);font-family:'FontAwesome';color: #fff;font-size: 10px;}


/*--- body cnt End here--*/